.about-project {
    background-color: white;
    margin: 0;
    padding: 110px 70px;
}

.about-project__title {
    max-width: 600px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about-project__divider {
    padding: 0;
    margin-top: 23px;
    max-width: 100vw;
    border-bottom: 1px black solid;
}

.about-project__table {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 40px;
    margin-top: 70px;
}

.about-project__table-column {
    display: flex;
    flex-direction: column;
    row-gap: 26px;
    margin: 0;
    padding: 0;
}

.about-project__table-column-title {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 0;
}

.about-project__table-column-text {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

.about-project__progressbar {
    margin-top: 110px;
    display: grid;
    grid-template-columns: 228px 1fr;
    grid-row-gap: 14px;
}

.about-project__progressbar-black {
    margin: 0;
    background-color: black;
    color: #FFF;
    width: 228px;
    padding: 9px 0;
    text-align: center;

}

.about-project__progressbar-text {
    margin: 0;
    padding: 0;
    color: #A0A0A0;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;

}

.about-project__progressbar-gray {
    margin: 0;
    background-color: #F2F2F2;
    padding: 9px 0;
    text-align: center;
    color: #000;
}

@media screen and (max-width: 768px) and (min-width: 425px) {
    .about-project {
        padding: 90px 50px;
        height: 585px;
    }

    .about-project__title {
        font-size: 22px;
    }

    .about-project__table {
        column-gap: 30px;
    }

    .about-project__table-column {
        row-gap: 22px;
    }

    .about-project__progressbar {
        grid-template-columns: 140px 1fr;
    }

    .about-project__progressbar-black {
        max-width: 140px;
    }

    .about-project__progressbar-text {
        font-weight: 400;
    }
}

@media screen and (max-width: 424px) {
    .about-project {
        margin: 0;
        padding: 70px 18px;
    }

    .about-project__title {
        font-size: 18px;
        padding: 0;
        margin: 0;
    }

    .about-project__divider {
        margin-top: 28px;
    }

    .about-project__table {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 56px;
        margin-top: 60px;
    }

    .about-project__table-column {
        row-gap: 0px;
    }

    .about-project__table-column-title  {
        max-width: 284px;
        padding-bottom: 16px;
    }

    .about-project__table-column-text {
        font-size: 11px;
        max-width: 284px;
        padding: 0;
        margin: 0;
    }

    .about-project__progressbar {
        margin-top: 60px;
        grid-template-columns: 100px 1fr;
        grid-row-gap: 10px;
    }


    .about-project__progressbar-black {
        max-width: 100px;
    }
}



